<div class="row-white" fxLayout="column" fxLayoutAlign="space-around center" >
    <img src="../../../assets/image/example-coding-portofolio.png" alt="Portofolio - Gigih Santoso" [ngClass]="(deviceXs)? 'img-responsive-xs': 'img-responsive'">
    <div [ngClass]="(deviceXs)? 'penjelasan-xs': 'penjelasan'" fxLayout="column" fxLayoutAlign="center start">
        <div class="mat-headline">gigihsantoso.id</div>
        <div class="mat-body-1">
            Ini merupakan source kode user interface dan API dari aplikasi Point of Sales.
        </div>
        <div class="mat-subheading-1">Teknologi yang digunakan</div>
        <div class="mat-body-1">
            Dalam pembuatannya menggunakan Angular sebagai framework javascript.
            Dengan ditunjang dengan angular material sebagai infrastuktur ui component dengan menggunakan material design sebagai acuannya.
        </div>
    </div>
    <div [ngClass]="(deviceXs)? 'ikon-teknologi-xs': 'ikon-teknologi'" fxLayout="column" fxLayoutAlign="center center">
        <div class="help-grid">
            <mat-grid-list [cols]="(deviceXs || deviceSm)? '3': '3'" rowHeight="100px">
                <mat-grid-tile><img src="../../../assets/image/angular.png" (click)="goToAngularLink()" alt="Menggunakan Framework Angular - Gigih Santoso" class="techlogo" width="100"></mat-grid-tile>
                <mat-grid-tile><img src="../../../assets/image/nodejs.png" (click)="goToNodeJsLink()" alt="Menggunakan Framework Node Js - Gigih Santoso" class="techlogo" width="100"></mat-grid-tile>
                <mat-grid-tile><img src="../../../assets/image/angular-material.png" (click)="goToAngularMaterialLink()" alt="Menggunakan Akveo Admin - Gigih Santoso" class="techlogo" width="100"></mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center" class="action" >
        <button mat-raised-button color="primary" (click)="goToSourceCodeBe()">Backend -Source code</button>
        <button mat-raised-button color="primary" (click)="goToSourceCodeFe()">Frontend - Source code</button>
    </div>
</div>