.row-grey {
    background-color: lightgrey;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    padding: 65px 10px;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.img-responsive-xs {
    max-width: 80%;
    height: auto;
}

.img-responsive {
    max-width: 50%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.penjelasan {
    width: 50%;
    height: auto;
    margin: 12px;
}

.penjelasan-xs {
    width: 80%;
    height: auto;
    margin: 12px;
}

.ikon-teknologi {
    width: 50%;
    height: auto;
    margin: 12px;
}

.ikon-teknologi-xs {
    width: 80%;
    height: auto;
    margin: 12px;
}